<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete Customer</title>
</head>
<body>
<a href="/customer/list">List Customer</a>
<form th:action="@{/customer/delete/__${customer.id}__ }" th:object="${customer}" method="POST">

  <div> <div>
    <label>id</label>
    <label th:text="${customer.id}" ></label>
  </div>
    <label>Name Customer: </label>
    <label th:text="${customer.name}" ></label>
  </div>
  <div>
    <label>Email Customer: </label>
    <label th:text="${customer.email}"></label>
  </div>

  <div>
    <label>Phone Customer: </label>
    <label th:text="${customer.phone}"></label>
  </div>

  <div>
    <label>Address: </label>
    <label th:text="${customer.address}"></label>
  </div>
  <div>
    <button type="submit">Delete</button>
  </div>
</form>
</body>
</html>